<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}


    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- main header left -->
                    <div class="col-md-6 col-12 main_header_right home_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="img" class="img-fluid" title="Amit Kumar">
                        </figure>
                    </div>
                    <!-- main header right -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to weather App</p>
                        <h1>I Am A <span class="text_clr">MERN Stack Developer</span> And Student</h1>
                        <a href="https://www.linkedin.com/in/amitkumar9297/" target="_Amit"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer code -->
    {{>footer}}

</body>

</html>